# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Keskeneräiset sivut
src/pages/case-study-template.astro
src/pages/case-studies/nordea-mobiili-auditointi.astro
src/pages/case-studies/kela-auditointi2.astro
src/pages/case-studies/kela-auditointi.astro
src/pages/case-studies/index.astro

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
